<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>developer</title>
    <link rel="stylesheet" href="./css/developers.css" />
  </head>
  <body style="background-color: #1e1e1e">
    <div class="heading">
      <h1>Our Team</h1>
    </div>
    <div class="main_box">
      <div class="box" style="margin-left: 5%; margin-right: 5%">
        <div class="img1">
          <img src="./Images/panda-iamge.webp" alt="image" />
        </div>
        <div class="descripton">
          <h2 style="color: white">Divya Singh</h2>
          <h4 style="color: white">E&I Department</h4>
        </div>
      </div>
      <div class="box">
        <div class="img1">
          <img src="./Images/panda-iamge.webp" alt="image" />
        </div>
        <div class="descripton">
          <h2 style="color: white">Divya Singh</h2>
          <h4 style="color: white">E&I Department</h4>
        </div>
      </div>
      <div class="box">
        <div class="img1">
          <img src="./Images/panda-iamge.webp" alt="image" />
        </div>
        <div class="descripton">
          <h2 style="color: white; float: right; margin-bottom: -2%">
            Divya Singh
          </h2>
          <h4 style="color: white; float: right; margin-bottom: -4%">
            E&I Department
          </h4>
        </div>
      </div>
      <div class="box">
        <div class="img1">
          <img src="./Images/panda-iamge.webp" alt="image" />
        </div>
        <div class="descripton">
          <h2 style="color: white">Divya Singh</h2>
          <h4 style="color: white">E&I Department</h4>
        </div>
      </div>
      <div class="box">
        <div class="img1">
          <img src="./Images/panda-iamge.webp" alt="image" />
        </div>
        <div class="descripton">
          <h2 style="color: white">Divya Singh</h2>
          <h4 style="color: white">E&I Department</h4>
        </div>
      </div>

      <div class="box">
        <div class="img1">
          <img src="./Images/panda-iamge.webp" alt="image" />
        </div>
        <div class="descripton">
          <h2 style="color: white">Divya Singh</h2>
          <h4 style="color: white">E&I Department</h4>
        </div>
      </div>

      <div class="box">
        <div class="img1">
          <img src="./Images/panda-iamge.webp" alt="image" />
        </div>
        <div class="descripton">
          <h2 style="color: white">Divya Singh</h2>
          <h4 style="color: white">E&I Department</h4>
        </div>
      </div>

      <div class="box">
        <div class="img1">
          <img src="./Images/panda-iamge.webp" alt="image" />
        </div>
        <div class="descripton">
          <h2 style="color: white">Divya Singh</h2>
          <h4 style="color: white">E&I Department</h4>
        </div>
      </div>
      <div class="box">
        <div class="img1">
          <img src="./Images/panda-iamge.webp" alt="image" />
        </div>
        <div class="descripton">
          <h2 style="color: white">Divya Singh</h2>
          <h4 style="color: white">E&I Department</h4>
        </div>
      </div>
    </div>
  </body>
</html>
