<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="./css/home.css" />
    <link rel="stylesheet" href="./css//footer.css">
    <!-- font-awesome  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <!-- Rupantar -->

    <div id="container"></div>
    <div id="cursor"></div>
    
    <!-- Footer -->
    <div class="footercontainer">
      <div class="text">
        <h1>Animated Footer</h1>
      </div>
      <footer>
        <div class="waves">
          <div class="wave1"></div>
          <div class="wave2"></div>
          <div class="wave3"></div>
          <div class="wave4"></div>
        </div>
        <ul class="social_icon">
          <li>
            <a href="##"><i class="fa-brands fa-square-facebook"></i></a>
          </li>
          <li>
            <a href="##"><i class="fa-brands fa-square-instagram"></i></a>
          </li>
          <li>
            <a href="##"> <i class="fa-brands fa-linkedin"></i></a>
          </li>
          <li>
            <a href="##"> <i class="fa-brands fa-youtube"></i></a>
          </li>
        </ul>
        <ul class="menu">
          <li>
            <a href="##">Home</a>
            <a href="##">About</a>
            <a href="##">Our Teams</a>
            <a href="##">Our Developers</a>
            <a href="##">Contact Us</a>
          </li>
        </ul>
        <p>Copyright Protected @INSEES 2023 | All Right Reserved</p>
      </footer>
    </div>

    <!-- Background -->
    <script src="./javascript/home.js"></script>
</body>
</html>