<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Loading</title>
    <link rel="stylesheet" href="./css/home.css" />
    <link rel="stylesheet" href="./css/loading.css" />
  </head>
  <body>
    <!-- rupantar -->
    <!-- Background Star -->
    <div id="container"></div>
    <div id="cursor"></div>

    <!-- rotate gear -->
    <div class="main"><h1>INSEES</h1></div>
    <img src="./assets/gear1.png" alt="Gear" class="rotate1" />
    <img src="./assets/gear2.png" alt="Gear" class="rotate2" />
    <img src="./assets/gear3.png" alt="Gear" class="rotate3" />
    <img src="./assets/gear3.png" alt="Gear" class="rotate4" />
     <img src="./assets/gear5.png" alt="Gear" class="rotate5" />
    <img src="./assets/gear6.png" alt="Gear" class="rotate6" />
    <img src="./assets/gear7.png" alt="Gear" class="rotate7" />

    <!-- Background -->
    <script src="./javascript/home.js"></script>
  </body>
</html>
